{#
/**
 * @file
 * Template implementation for the media_ubicast_embed theme hook.
 *
 * Available variables:
 * - embed_url: (string) The embed URL for the Ubicast video.
 * - width: (int) The width of the iframe, in pixels.
 * - height: (int) The height of the iframe, in pixels.
 */
#}
<iframe src="{{ embed_url }}"
        width="{{ width }}"
        height="{{ height }}"
        allowfullscreen
        style="border: none;"></iframe>
